.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.column {
  flex: 1;
  max-width: 50%;
}

.title {
  color: #191919;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 120.69% */
  letter-spacing: -1px;
  margin: 0px;
}

.description {
  color: #323232;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 38.5px; /* 120.313% */
  letter-spacing: -1px;
  margin: 0px;
}

.image {
  border-radius: 50%;
  border: 5px solid #2064e5;
}

.linksContainer {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.linkCard {
  color: #2064e5;
  border-radius: 5px;
  background: #fff;
  text-decoration: none;
  font-size: 18px;
}
