.title {
  color: #191919;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 120.69% */
  letter-spacing: -1px;
  margin: 0px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailLink {
  background: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;

  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -1px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .emailLink {
    font-size: 24px;
  }
}
